<section class="degree container">
    <img class="degree__icon" src="{{icon}}"
        alt="icon" />
    <p class="degree__city">{{name}}, {{country}}</p>
    <div class="degree__minmax">
        <p class="degree__temp">{{temp}}</p>
        <div class="degree__minmax-wrap">
            <div class="degree__min">
                <p class="degree__min-text">min</p>
                <p class="degree__min-value">{{tempMin}}</p>
            </div>
            <div class="degree__max">
                <p class="degree__max-text">max</p>
                <p class="degree__max-value">{{tempMax}}</p>
            </div>
        </div>
    </div>
</section>