{{#each this}}
<li class="more-info__item">
    <h3 class="day__tempr--min-max more-info__time">{{hours}}</h3>
    <img class="degree__icon weather__icon" src="{{icon}}" alt="icon" />
    <p class="day__tempr--degrees more-info__tempr">{{temp}}</p>
    <p class="more-info__descr pressure">{{pressure}}mm</p>
    <p class="more-info__descr humidity">{{humidity}}%</p>
    <p class="more-info__descr wind">{{wind}}m/s</p>
</li>
{{/each}}